# Exercises

# Within your codeup-data-science directory, create a new repo named spark-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

# Save this work in your spark-exercises repo. Then add, commit, and push your changes.

# Create a jupyter notebook or python script named spark101 for this exercise.

In [1]:
# imports
import pandas as pd
import numpy as np

import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

import warnings
warnings.filterwarnings('ignore')

22/02/15 17:58:01 WARN Utils: Your hostname, Rajarams-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.4 instead (on interface en0)
22/02/15 17:58:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/15 17:58:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/02/15 17:58:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/02/15 17:58:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/02/15 17:58:02 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/02/15 17:58:02 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/02/15 17:58:02 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

# 1. Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language

In [2]:
pd_language_df = pd.DataFrame(
{"language" : ["Java", "Ruby", "TrumpScript", "Chicken", "JavaScript", "Python"]})

spk_lang_df = spark.createDataFrame(pd_language_df)

- View the schema of the dataframe

In [3]:
spk_lang_df.printSchema()

root
 |-- language: string (nullable = true)

- Output the shape of the dataframe

In [4]:
print("Shape of DataFrame: ", spk_lang_df.count(), " by ", len(spk_lang_df.columns))

Shape of DataFrame:  6  by  1

- Show the first 5 records in the dataframe

In [5]:
spk_lang_df.show(5)

+-----------+
|   language|
+-----------+
|       Java|
|       Ruby|
|TrumpScript|
|    Chicken|
| JavaScript|
+-----------+
only showing top 5 rows

# 2. Load the mpg dataset as a spark dataframe.

- a. Create 1 column of output that contains a message like the one below:
The 1999 audi a4 has a 4 cylinder engine.

In [6]:
from pydataset import data

In [7]:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [8]:
mpg = spark.createDataFrame(mpg)

In [9]:
from pyspark.sql.functions import *

In [10]:
mpg.select(
    concat(
    lit('The '),
    mpg.year,
    lit(' '),
    mpg.manufacturer,
    lit(' '),
    mpg.model,
    lit(' has a '),
    mpg.cyl,
    lit(' cylinder engine.')
    ).alias('Vehicle_Cylinder')
).show(truncate = False)

+--------------------------------------------------------------+
|Vehicle_Cylinder                                              |
+--------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 2008 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 8 cylinder engine.             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
+--------------------------------------------------------------+
only showing top 20 rows

For each vehicle.
- b. Transform the trans column so that it only contains either manual or auto.

In [11]:
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [12]:
trans = mpg.select(
    col('trans')
)

In [13]:
trans.show()

+----------+
|     trans|
+----------+
|  auto(l5)|
|manual(m5)|
|manual(m6)|
|  auto(av)|
|  auto(l5)|
|manual(m5)|
|  auto(av)|
|manual(m5)|
|  auto(l5)|
|manual(m6)|
|  auto(s6)|
|  auto(l5)|
|manual(m5)|
|  auto(s6)|
|manual(m6)|
|  auto(l5)|
|  auto(s6)|
|  auto(s6)|
|  auto(l4)|
|  auto(l4)|
+----------+
only showing top 20 rows

In [14]:
mpg.select(
    'trans', when(mpg.trans.like("a%"), "auto").otherwise("manual").alias("abbreviated_transmission")).show()

+----------+------------------------+
|     trans|abbreviated_transmission|
+----------+------------------------+
|  auto(l5)|                    auto|
|manual(m5)|                  manual|
|manual(m6)|                  manual|
|  auto(av)|                    auto|
|  auto(l5)|                    auto|
|manual(m5)|                  manual|
|  auto(av)|                    auto|
|manual(m5)|                  manual|
|  auto(l5)|                    auto|
|manual(m6)|                  manual|
|  auto(s6)|                    auto|
|  auto(l5)|                    auto|
|manual(m5)|                  manual|
|  auto(s6)|                    auto|
|manual(m6)|                  manual|
|  auto(l5)|                    auto|
|  auto(s6)|                    auto|
|  auto(s6)|                    auto|
|  auto(l4)|                    auto|
|  auto(l4)|                    auto|
+----------+------------------------+
only showing top 20 rows

# 3. Load the tips dataset as a spark dataframe.

In [15]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [16]:
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [17]:
tips = spark.createDataFrame(tips)

In [18]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

22/02/15 18:43:42 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 974153 ms exceeds timeout 120000 ms
22/02/15 18:43:42 WARN SparkContext: Killing executors is not supported by current scheduler.

- a. What percentage of observations are smokers?

In [21]:
tips.groupBy("smoker").count().show()

+------+-----+
|smoker|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [24]:
tips.groupBy("smoker").count().withColumn(
    "percentage",
    concat(round((col("count") / tips.count() * 100), 0).cast("int"), lit("%")),
).show()

+------+-----+----------+
|smoker|count|percentage|
+------+-----+----------+
|    No|  151|       62%|
|   Yes|   93|       38%|
+------+-----+----------+

- b. Create a column that contains the tip percentage

In [28]:
tips.withColumn("tip_percentage", col('tip') / col('total_bill')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_percentage|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

- c. Calculate the average tip percentage for each combination of sex and smoker.

In [35]:
(
    tips.withColumn("tip_percentage", col('tip') / col('total_bill'))
    .groupBy("sex")
    .pivot("smoker")
    .agg(round(mean("tip_percentage"), 2)).show()
)

+------+----+----+
|   sex|  No| Yes|
+------+----+----+
|Female|0.16|0.18|
|  Male|0.16|0.15|
+------+----+----+

# 4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

In [36]:
from vega_datasets import data

In [38]:
weather = data.seattle_weather()
weather = spark.createDataFrame(weather)
weather.show(5)

+-------------------+-------------+--------+--------+----+-------+
|               date|precipitation|temp_max|temp_min|wind|weather|
+-------------------+-------------+--------+--------+----+-------+
|2012-01-01 00:00:00|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02 00:00:00|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03 00:00:00|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04 00:00:00|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05 00:00:00|          1.3|     8.9|     2.8| 6.1|   rain|
+-------------------+-------------+--------+--------+----+-------+
only showing top 5 rows

- Convert the temperatures to fahrenheit.

In [39]:
weather = weather.withColumn(
    "temp_max", (col("temp_max") * 9 /5 + 32)
).withColumn("temp_min", (col("temp_min") * 9/5 + 32))

In [40]:
weather.show(5)

+-------------------+-------------+--------+--------+----+-------+
|               date|precipitation|temp_max|temp_min|wind|weather|
+-------------------+-------------+--------+--------+----+-------+
|2012-01-01 00:00:00|          0.0|   55.04|    41.0| 4.7|drizzle|
|2012-01-02 00:00:00|         10.9|   51.08|   37.04| 4.5|   rain|
|2012-01-03 00:00:00|          0.8|   53.06|   44.96| 2.3|   rain|
|2012-01-04 00:00:00|         20.3|   53.96|   42.08| 4.7|   rain|
|2012-01-05 00:00:00|          1.3|   48.02|   37.04| 6.1|   rain|
+-------------------+-------------+--------+--------+----+-------+
only showing top 5 rows

- Which month has the most rain, on average?

In [41]:
row = (
    weather.withColumn("month", month("date"))
    .withColumn("year", year("date"))
    .groupBy("month", "year")
    .agg(sum("precipitation").alias("total_monthly_precipit"))
    .groupBy("month")
    .agg(mean('total_monthly_precipit').alias("avg_monthly_rain"))
    .sort(col("avg_monthly_rain").desc())
    .first()

)

row

Row(month=11, avg_monthly_rain=160.625)

- Which year was the windiest?

In [42]:
(
    weather.withColumn("year", year("date"))
    .groupBy("year")
    .agg(sum("wind").alias("total_winds"))
    .sort(col("total_winds").desc())
    .show(5)
)

+----+------------------+
|year|       total_winds|
+----+------------------+
|2012|            1244.7|
|2014|1236.5000000000007|
|2015|1153.3000000000002|
|2013|1100.8000000000006|
+----+------------------+

- What is the most frequent type of weather in January?

In [44]:
(
    weather.withColumn("month", month("date"))
    .filter(col("month") == 1)
    .groupBy("weather")
    .count()
    .sort(col("count").desc())
    .show()
)

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
|   rain|   35|
|    sun|   33|
|drizzle|   10|
|   snow|    8|
+-------+-----+

- What is the average high and low temperature on sunny days in July in 2013 and 2014?

In [45]:
(
    weather.filter(month("date") == 7)
    .filter(year("date") > 2012)
    .filter(year("date") < 2015)
    .filter(col("weather") == lit("sun"))
    .agg(
        avg("temp_max").alias("average_high_temp"),
        avg("temp_min").alias("average_low_temp"),
    )
    .show()
)

+-----------------+-----------------+
|average_high_temp| average_low_temp|
+-----------------+-----------------+
|80.29192307692308|57.52884615384615|
+-----------------+-----------------+

- What percentage of days were rainy in q3 of 2015?

In [46]:
(
    weather.filter(year("date") == 2015)
    .filter(quarter("date") == 3)
    .select(when(col("weather") == "rain", 1).otherwise(0).alias("rain"))
    .agg(mean("rain"))
    .show()
)

+--------------------+
|           avg(rain)|
+--------------------+
|0.021739130434782608|
+--------------------+

- For each year, find what percentage of days it rained (had non-zero precipitation).

In [47]:
(
    weather.withColumn("year", year("date"))
    .select(when(col("precipitation") > 0, 1).otherwise(0).alias("rain"), "year")
    .groupby("year")
    .agg(mean("rain"))
    .show()
)

+----+-------------------+
|year|          avg(rain)|
+----+-------------------+
|2012|0.48360655737704916|
|2013|0.41643835616438357|
|2014|  0.410958904109589|
|2015|0.39452054794520547|
+----+-------------------+